/* Specific to this page; do not copy to other pages */

#hololens-container {
	margin-top: 125vh;
	background-image: url('../img/hololens-transparent.png');
	background-position: left center;
}

#pokemongo-container {
	background-image: url('../img/pokemongo.jpg');
	background-position: left top;
}

#googleglass-container {
	background-image: url('../img/googleglass.jpg');
	background-position: center center;
}

#main-content {
	margin-top: 0px;
}

#main-content .credits {
	position: absolute;
	right: 10px;
	bottom: 5px;
}