/* Specific to this page; do not copy to other pages */

#hololensContainer, #pokemonContainer {
	width: 100vw;
	height: 100vh;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: left center;
	z-index: -6;
}

#hololensContainer {
	margin-top: 100vh;
	background-image: url("../img/hololens-transparent.png");
}

#pokemonContainer {
	background-image: url("../img/pokemongo.jpg");
}

#mainContent {
	margin-top: 0px;
}

#credits {
	font-size: 0.75rem;
	position: absolute;
	right: 10px;
	bottom: -10px;
}