.navLinks {
	display: inline-block;
	margin: 3px;
	background-color: #7f7f7f;
	color: orange;
	font-weight: bold !important;
	padding: 1vh 2vw;
	border-radius: 3px;
	text-decoration: none;
	cursor: pointer;
	font: inherit;
	border: 0;
	outline: 0;
	box-shadow: 0px 7px 0px #6a6a6a;
	transition: 0.2s linear;
}

.navLinks:hover {
	background-color: orange;
	box-shadow: 0px 7px 0px #e69500;
	color: #7f7f7f;
	border-radius: 7px;
}

.navLinks:active {
	box-shadow: 0px 2px 0px #e69500;
  	transform: translateY(5px);
}

@media screen and (orientation: portrait) {
	.navLinks {
		padding: 1.5vh 3vw;
		font-size: 1.2rem;
	}
}