/* Specific to this page; do not copy to other pages */

#tsa-logo {
	margin-left: auto;
	margin-right: auto;
	width: 30%;
}

.tsa-images {
	object-fit: cover;
	height: 400px;
	width: 700px;
	margin-left: auto;
	margin-right: auto;
}

.carousel-divs {
	width: 700px;
	height: 400px;
	background-color: #66baff;
}

.jk-carousel {
	margin-left: auto;
	margin-right: auto;
}

._md-off, ._md-on {
	border-color: rgba(255, 255, 255, 0.74) !important;
}

.officer-container {
	display: flex;
	flex-wrap: wrap;
	width: 100vw;
	margin-left: -10vw;
}

.officer {
	width: 250px;
	margin: 5px;
}

.photo-container {
	width: 250px;
	height: 250px;
}

.md-card-image {
	object-fit: cover;
	width: 235px;
	height: 250px !important;
}


@media screen and (max-width: 900px) {
	.jk-carousel {
		width: 90vw !important;
		height: 50vw !important;
	}

	.carousel-divs {
		width: 90vw;
		height: 50vw;
	}

	.officer-container {
		width: initial;
		margin-left: initial;
	}

}