#video {
	width: 100%;
	margin-left: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateX(-50%);
	position: fixed;
	top: 90px;
	z-index: -5;
}

@media screen and (orientation: portrait), screen and (max-width: 1150px) {
	#video {
		width: initial;
		min-width: 100%;
		min-height: 100vh;
	}
}