#video-container {
	width: 100vw;
	margin-left: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateX(-50%);
	position: fixed;
	top: 90px;
	z-index: -5;
}

#video {
	width: 100vw;
}

@media screen and (orientation: portrait), screen and (max-width: 1150px) {
	#video-container {
		top: 90px;
	}
	#video {
		width: initial;
		min-width: 100vw;
		min-height: 100vh;
	}
}